<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header class="menuComponent">
      <app-menu></app-menu>
    </ion-header>
    <ion-content class="ion-padding">
      <br><br>
      <h1 class="titulo">EducaTips</h1>
      <p>Los EducaTips son pequeños consejos que te ayudarán a conseguir salud financiera.</p>
      <swiper-container>
        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Ahorros</ion-card-title>
                <ion-card-subtitle>Administra tu dinero</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Aprende a gestionar el dinero que recibes, GestionaT te ayuda a hacerlo y asi tienes el contro de tus finanzas.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>
        
        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Datos financieros</ion-card-title>
                <ion-card-subtitle>Entiende la inflación</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Investiga a fondo sobre la inflación, para que comprendas cómo los precios cambian con el tiempo y cómo afecta al valor de tu dinero.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>
        
        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Datos financieros</ion-card-title>
                <ion-card-subtitle>Abre una cuenta bancaria.</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Abrir una cuenta en un banco permitirá que administres tu dinero de forma independiente y a familiarizarte con servicios bancarios.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>
        
        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Datos financieros</ion-card-title>
                <ion-card-subtitle>Entiende la inflación</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Investiga a fondo sobre la inflación, para que comprendas cómo los precios cambian con el tiempo y cómo afecta al valor de tu dinero.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>
        
        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Datos financieros</ion-card-title>
                <ion-card-subtitle>Piensa a largo plazo</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Establece metas de ahorro, la herramienta llamada "Metas" de GestionaT puede ayudarte a esto. En caso de destines ese dinero a una meta a largo plazo puedes invertir tu dinero en alguna cuenta de inversión en renta fija asi tu dinero seguirá creciendo mientras ahorran.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>
        
        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Ahorro</ion-card-title>
                <ion-card-subtitle>Excedente de tu meta</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Si estableciste una meta de ahorro y tienes un excedente, puedes ingresar ese dinero en una cuenta de inversión de renta fija, donde podras acceder a tu dinero en todo momento pero este seguira creciendo.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Inversiones</ion-card-title>
                <ion-card-subtitle>Aprende sobre inversiones.</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Investiga cómo puedes invertir tu dinero para generar rendimientos y combatir la inflación.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Ahorro</ion-card-title>
                <ion-card-subtitle>Distingue entre necesidades y deseos.</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Antes de comprar algo, pregúntate si es una necesidad real o simplemente un deseo impulsivo. Prioriza tus gastos en función de tus necesidades.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Manejo de dinero</ion-card-title>
                <ion-card-subtitle>Crea un presupuesto</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Elabora un presupuesto mensual para controlar tus ingresos y gastos. Esto te ayudará a identificar áreas donde puedes ahorrar dinero.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Compras inteligentes</ion-card-title>
                <ion-card-subtitle>Evita deudas innecesarias</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Ten cuidado con las deudas, especialmente las de tarjetas de crédito, evita gastar más de lo que puedes pagar y recuerda pagar tus deudas a tiempo.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>

        <swiper-slide>
          <div class="slideTip">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>Seguridad</ion-card-title>
                <ion-card-subtitle>Infórmate sobre seguridad bancaria.</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Aprende cómo prevenir fraudes bancarios y proteger tus datos personales al usar la banca digital. Existen cursos en internet que de dicen como hacerlo.
              </ion-card-content>
            </ion-card>
          </div>
        </swiper-slide>

      </swiper-container>
      <!-- <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>EducaTip 1</ion-card-title>
                <ion-card-subtitle>Genera más ingresos</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
          <div class="carousel-item">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>EducaTip 2</ion-card-title>
                <ion-card-subtitle>Genera más ingresos</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
          <div class="carousel-item">
            <ion-card class="ion-padding">
              <ion-card-header>
                <ion-card-title>EducaTip 3</ion-card-title>
                <ion-card-subtitle>Genera más ingresos</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                Here's a small text description for the card content. Nothing more, nothing less.
              </ion-card-content>
            </ion-card>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->
    </ion-content>
    <ion-footer>
      <div style="height: 20px;">
  
      </div>
    </ion-footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</ion-app>