<ion-app> 
  <div class="ion-page" id="main-content">
    <ion-header class="menuComponent"> 
      <app-menu></app-menu>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="contModal">
        <h1>Registra un gasto</h1>
        <img src="./assets/imagenes/egreso.png" alt="" class="imagen">
        <ion-button expand="block" (click)="setOpen(true)">Iniciar</ion-button>
        <ion-modal [isOpen]="isModalOpen" class="modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Registro de gastos</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">Cancelar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding" id="modal-content">
              <ion-content class="ion-padding" id="modal-content">
                <ion-label  class="label">Categoría del gasto</ion-label>
                <br><br>
                <ion-select label="Ingresos del tipo" label-placement="stacked" fill="solid" [(ngModel)]="usuario.categoria">
                  <div ngFor="let categoria of categorias">
                    <ion-select-option value="{{usuario.categoria}}">{{usuario.categoria}}</ion-select-option>
                  </div>
                </ion-select>
                <br><br>
                <ion-label class="label">Cantidad</ion-label>
                <ion-input class="input" type="number" [(ngModel)]="egreso.cantidad" aria-placeholder="Cantidad" min="1"></ion-input>
                <br><br>
                <ion-label class="label">Fecha</ion-label>
                <!-- <ion-input  type="date" [(ngModel)]="egreso.fecha" [value]="currentDate"></ion-input> -->
                <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="egreso.fecha"></ion-datetime>
                <br><br>
                <button expand="block" (click)="registrar()">Registrar</button>
              </ion-content>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
      <!-- TODO : Aqui abajo la el otro modal -->
      <div class="contModal">
        <h1>Registra un ingreso</h1>
        <img src="./assets/imagenes/ingreso.png" alt="" class="imagen">
        <ion-button expand="block" (click)="setOpenModal2(true)">Iniciar</ion-button>
        <ion-modal [isOpen]="isModal2Open" class="modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Registro de ingresos</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpenModal2(false)">Cancelar</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding" id="modal-content">
              <ion-content class="ion-padding" id="modal-content">
                <!-- <ion-label  class="label">Categoría del gasto</ion-label>
                <br><br>
                <ion-select label="Ingresos del tipo" label-placement="stacked" fill="solid" [(ngModel)]="usuario.categoria">
                  <div ngFor="let categoria of categorias">
                    <ion-select-option value="{{usuario.categoria}}">{{usuario.categoria}}</ion-select-option>
                  </div>
                </ion-select>
                <br><br> -->
                <ion-label class="label">Cantidad</ion-label>
                <ion-input class="input" type="number" [(ngModel)]="egreso.cantidad" aria-placeholder="Cantidad" min="1"></ion-input>
                <br><br>
                <ion-label class="label">Fecha</ion-label>
                <!-- <ion-input  type="date" [(ngModel)]="egreso.fecha" [value]="currentDate"></ion-input> -->
                <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="egreso.fecha"></ion-datetime>
                <br><br>
                <button expand="block" (click)="registrar()">Registrar</button>
              </ion-content>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-content>
  </div>
</ion-app>