<ion-app> 
  <div class="ion-page" id="main-content">
    <ion-header class="menuComponent"> 
      <app-menu></app-menu>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="contModal">
        <h1 class="titulo">Balance actual</h1>
        <p>Tu saldo actual es:</p>
        <input type="number" id="saldoUs" class="input" placeholder="Saldo" [(ngModel)]="usuario.saldo" disabled>
        
      </div>
      <div class="contModal">
        <h1 class="titulo">Registra un gasto</h1>
        <img src="./assets/imagenes/egreso.png" alt="" class="imagen">
        <ion-button expand="block" (click)="setOpen(true)">Iniciar</ion-button>
        <ion-modal [isOpen]="isModalOpen" class="modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Registro de gastos</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpen(false)">
                    <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding" id="modal-content">
              <ion-content class="ion-padding" id="modal-content">
                <ion-label  class="label">Categoría del gasto</ion-label>
                <br><br>
                <ion-select label="Mis gastos:" label-placement="stacked" fill="solid" [(ngModel)]="egreso.categoria">
                  <ion-select-option *ngFor = "let egr of egresos" [ngValue]="egr.categoria" >{{egr.categoria}}</ion-select-option>
                </ion-select>
                <br><br>
                <ion-label class="label">Cantidad</ion-label>
                <ion-input class="input" type="number" [(ngModel)]="egreso.cantidad" min="1"></ion-input>
                <br><br>
                <ion-label class="label">Fecha</ion-label>
                <!-- <ion-input  type="date" [(ngModel)]="egreso.fecha" [value]="currentDate"></ion-input> -->
                <!-- <ion-datetime presentation="date" [preferWheel]="true" [(ngModel)]="egreso.fecha"></ion-datetime> -->
                <ion-datetime 
                presentation="date" 
                [(ngModel)]="egreso.fecha"
              ></ion-datetime>
                <br><br>
                <button expand="block" (click)="registrarEgreso()">Registrar</button>
              </ion-content>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
      <!-- TODO : Aqui abajo la el otro modal -->
      <div class="contModal">
        <h1 class="titulo">Registra un ingreso</h1>
        <img src="./assets/imagenes/ingreso.png" alt="" class="imagen">
        <ion-button expand="block" (click)="setOpenModal2(true)">Iniciar</ion-button>
        <ion-modal [isOpen]="isModal2Open" class="modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Registro de ingresos</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="setOpenModal2(false)">
                    <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding" id="modal-content">
              <ion-content class="ion-padding" id="modal-content">
                <ion-label class="label">Cantidad</ion-label>
                <ion-input class="input" type="number" [(ngModel)]="ingreso.cantidad" min="1"></ion-input>
                <br><br>
                <ion-label class="label">Fecha</ion-label>
                <br>
                <ion-datetime 
                presentation="date" 
                [(ngModel)]="ingreso.fecha"
              ></ion-datetime>
                <br><br>
                <ion-label class="label">Categoría</ion-label>
                <br>
                <ion-select label="Mis ingresos:" label-placement="stacked" fill="solid" [(ngModel)]="ingreso.categoria">
                  <!-- <ion-select-option *ngFor = "let ing of ingresos | async" [ngValue]="ing.categoria" >{{ing.categoria}}</ion-select-option> -->
                  <ion-select-option *ngFor="let ing of ingresos" [ngValue]="ing.categoria">{{ing.categoria}}</ion-select-option>
                  <ion-select-opction value="Otro">Otro</ion-select-opction>
                </ion-select>
                <br><br>
                
                <br><br>
                <button expand="block" (click)="registrarIngreso()">Registrar</button>
              </ion-content>
            </ion-content>
          </ng-template>
        </ion-modal>
      </div>
    </ion-content>
    <ion-footer>
      <div style="height: 20px;">
  
      </div>
    </ion-footer>
  </div>
</ion-app>