/* Estilos generales */

ion-content {
    font-family: Arial, sans-serif;
    //background-color: #f4f4f4;
   --ion-background-color: #99BC85;
    margin: 0;
    //--padding: 30px;
    display: flex;
    //justify-content: center;
    //align-items: center;
    height: 100%;
    color: #333;
}

ion-item{
    --ion-background-color: #fff;
   
}

#personalizada{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#agregar{
    width: auto;
    margin-bottom: 10px;
   
}

/* Contenedor del formulario */
/* Estilos para el contenedor del formulario */
.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.cont{
    border-color: #4F6F52;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
}


/* Contenedor de la imagen */
.logo {
   //margin-bottom: 20px;
    width:100%; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* Imagen responsive */
.logo-responsive {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
}
.form_group{
    position: relative;
    color: #5757577e;
    
}

/* Título del formulario */
.form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form h6{
    text-align: left;
    margin-bottom: 20px;
}

/* Grupos de entrada */
.form-container {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-align: left;
}

ion-input{
    border-bottom-color: #DBDBDB;
    border-bottom-width: 1px;
    border-bottom-style:solid ;
  }

/* Botón de envío */
button {
    width: 75%;
    padding: 10px;
    background-color: #4F6F52;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}



button:hover {
    background-color: #FFCC70;
}

ion-select{
    text-align: left;
}

/* Estilos responsivos */
@media (max-width: 480px)and (min-width: 410px) {
    .form {
        padding: 15px;
    }

    .form h2 {
        font-size: 20px;
    }

    input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }
    
    .responsive-image {
        max-width: 100px; /* Tamaño más pequeño para móviles */
    }
}  