/* Estilos generales */
#cuerpo {
    font-family: Arial, sans-serif;
    //background-color: #f4f4f4;
    background-color: #99BC85;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del formulario */
/* Estilos para el contenedor del formulario */
.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

/* Contenedor de la imagen */
.logo {
   //margin-bottom: 20px;
    width:100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* Imagen responsive */
.logo-responsive {
    max-width: 40%;
    height: auto;
    border-radius: 8px;
}
.form_group{
    position: relative;
    color: #5757577e;
    
}

/* Título del formulario */
.form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

/* Grupos de entrada */
.form-container {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form_groupp label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

.form_groupp input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    
}

ion-input{
    border-bottom-color: #DBDBDB;
    border-bottom-width: 1px;
    border-bottom-style:solid ;
    color: #333;
  }

/* Botón de envío */
button {
    width: 75%;
    padding: 10px;
    background-color: #4F6F52;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #FFCC70;
}




/* Enlace de registro */
p {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}



/* Estilos responsivos */
@media (max-width: 480px)and (min-width: 410px) {
    .form {
        padding: 15px;
    }

    .form h2 {
        font-size: 20px;
    }

    .form_groupp input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }

    p {
        font-size: 12px;
    }
    
    .responsive-image {
        max-width: 100px; /* Tamaño más pequeño para móviles */
    }
}  