<div id="cuerpo">
  <div class="form">
      
    <div class="logo">
      <img src="/assets/imagenes/GestionaTLogo.png" alt="Logo de la empresa" class="logo-responsive" id="logoImg">
    </div>
      <div>
        <h2>Registro</h2>
      </div>
      <div class="form_container">
        <div class="form_groupp">
            <label for="correo" class="form_label">Correo electrónico</label>
            <ion-input type="email" id="correo" class="form_input" [(ngModel)]="usuario.email" placeholder=""></ion-input> 
            
            <span class="form_line"></span>
        </div>
        <br><br>
        <div class="form_groupp">
          <label for="usuario" class="form_label">Usuario</label>
          <ion-input type="text" id="usuario" class="form_input" [(ngModel)]="usuario.nomUsuario" placeholder=""></ion-input> 
          
          <span class="form_line"></span>
        </div>
        <br><br>
        <div class="form_groupp">
          <label for="password" class="form_label">Contraseña</label>
          <ion-input type="password" id="password" class="form_input" [(ngModel)]="usuario.password" placeholder=""> </ion-input>  
            <span class="form_line"></span>
        </div>
        <br><br>
        <div class="form_groupp">
          <label for="password" class="form_label">Confirme su contraseña</label>
          <ion-input type="password" id="password2" class="form_input" [(ngModel)]="usuario.password_comprobar" placeholder=""></ion-input> 
          <span class="form_line"></span>
        </div>
      </div>
      <div id="boton">
        <button type="button" class="float" (click)="registro()">Finalizar</button>
    </div>   
  </div>    
</div> 
