<ion-app>
  <ion-header class="menuComponent">
    <app-menu></app-menu>
  </ion-header>
  <ion-content class="ion-padding">
    <br><br>
    <h1 class="titulo">Ingresos</h1>
    <div class="grafica">
      <h3>Ingresos del mes en curso.</h3>
      <canvas id="canvas"></canvas>
    </div>
    <div class="tabla">
      <h3>Desglose de ingresos.</h3>
      <!-- <table class="styled-table">
        <tr>
          <th>Fecha</th>
          <th>Categoria</th>
          <th>Cantidad</th>
        </tr>
        <tr *ngFor="let ing of ingresos">
          <td>{{ing.fecha}}</td>
          <td>{{ing.categoria}}</td>
          <td>{{ing.cantidad}}</td>
        </tr>
      </table> -->
      <table class="styled-table" *ngFor="let ing of ingresos">
        <tr>
          <th>Fecha</th>
          <td>{{ing.fecha}}</td>
        </tr>
        <tr>
          <th>Categoria</th>
          <td>{{ing.categoria}}</td>
        </tr>
        <tr>
          <th>Descripcion</th>
          <td>{{ing.detalle}}</td>
        </tr>
        <tr>
          <th>Cantidad</th>
          <td>{{ing.cantidad}}</td>
        </tr>
      </table>
    </div>
  </ion-content>
  <ion-footer>
    <div style="height: 20px;">

    </div>
  </ion-footer>
</ion-app>