<ion-app>
  <ion-header class="menuComponent">
    <app-menu></app-menu>
  </ion-header>
  <ion-content class="ion-padding">
    <br><br>
    <h1 class="titulo">Ingresos</h1>
    <div class="grafica">
      <h3>Ingresos del mes en curso.</h3>
      <canvas id="graficaIngresos"></canvas>
    </div>
    <div class="tabla">
      <h3>Desglose de ingresos.</h3>
      <table class="styled-table">
        <tr>
          <th>Fecha</th>
          <th>Categoria</th>
          <th>Cantidad</th>
        </tr>
        <tr *ngFor="let ing of ingresos">
          <td>{{ing.fecha}}</td>
          <td>{{ing.categoria}}</td>
          <td>{{ing.cantidad}}</td>
        </tr>
      </table>
    </div>
  </ion-content>
</ion-app>