
.menu{
    //background: #FFEC9E;
    background-color: #fff;;
}

#cuerpo{ 
    background-color: #fff;
}

#menuButton{
    background-color: #E9C46A;
    color: #fff;
    padding: 10px;
    //float: left;
}

#botonCerrar{
    background-color: #E9C46A;
    color: #fff;
    padding: 10px;
    float: right;
}


 
li{
    list-style: none;
}