
.menu{
    //background: #FFEC9E;
    background-color: #fff;;
}

#cuerpo{ 
    background-color: #fff;
}

#menuButton{
    background-color: #E9C46A;
    color: #fff;
    padding: 10px;
}

li{
    list-style: none;
}