#cuerpo{
  width: 100%;
  height: 100%;
  //background-color: #61A3BA;
  //background-image: url('/../assets/imagenes/Inicio.png') no-repeat center center / cover;
  //background-image: image-set(url('/../assets/imagenes/Inicio.png') 1x, url('/../assets/imagenes/Inicio.png') 2x);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  text-align: center;
}
#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.logo {
  //margin-bottom: 20px;
   width:80%; 
   display: flex;
   justify-content: center; 
   align-items: center; 
   margin-top: 50px;
   //background-color: #fff;
   border-radius: 50%;

}

#logoImg{
  padding-right: 20px;
}

#comenzar {
  width: 75%;
  height: 50px;
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 25px;
  color: #000;
  font-size: 27px;
  cursor: pointer;
  margin-top: 100px;
  
}

#comenzar:hover {
  background-color: #F3FDE8;
  color: #000000;
}

/* Imagen responsive */
.logo-responsive {
   max-width: 400px;
   height: auto;
   border-radius: 8px;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#intro{
  font-size: 75px;
  font-family: 'Lucida Sans Unicode';
  color: #fff;
  font-weight: 600;
  background-color: #000000;
}